@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'VT323', monospace;
    background-color: #2d3748;
    overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}